body {
  background-color: #57585a;
}

textarea {
  width: 425px;
  height:100px;
}

.hidden {
  opacity: 0;
}

#container {
  width: 70%;
  margin: 0 auto;
}

/*LOGO SHIT*/

#container #logo {
  width: 49%;
  display: inline-block;
  font-size: 70px;
  margin: auto;
}

#container #logo .content {
  position: absolute;
  top:235px;
}

#container #logo #leftLinks {
  position: absolute;
  top:325px;
  font-size: 12px;
  margin: 40 20px;
}

#container #logo #leftLinks #getStartedButton {
  padding: 6 10px;
    background:#cecece;
    cursor: pointer;
    border: #999 1px solid;
    border-radius: 5px;
    margin: 10 0px;
    font-size: 30px;
    text-align: center;
}
#container #logo #leftLinks #getStartedButton:hover {
  background: #eee;
}
#container #logo #leftLinks #getStartedButton a {
  color: #2c3e50;
  text-decoration: none;
}
#container #logo #leftLinks li {
  display: inline;
  padding: 0 5px;
  border-left: #fff 1px solid;
}

#container #logo #leftLinks li.firstList {
  border-left:0;
  color: #ccc;
}

#container #logo #leftLinks li a {
    color: #ccc;
}
#container #logo #leftLinks li a:hover {
  color: #fff;
}

#container #logo .content .bold {
  font-weight: bold;
}

#container #logo .content .light {
  font-weight: lighter;
}

#container #logo .content .white {
  color:#f2f3f4;
}

#container #logo .content .green {
  color:#3ab54a;
}

#container #logo .content .dot {
  font-size: 150%;
  margin: -15px;
}

#container #logo .content .loose {
  letter-spacing: 10px;
}

/*FORM SHIT*/

#container #form {
  width: 49%;
  display: inline-block;
  padding:150 0px;
}

#container #form #form-header {
  text-align: center;
  width: 425px;
  font-size: 30px;
  color:#dcdcdc;
}

#container #form input{
  padding: 20 10px;
  width: 425px;
  margin:10 0px;
  font-size: 20px;
}

#container #form #submitButton {
letter-spacing: 10px;
  position: relative;
  padding: 20 0px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3ab54a;
  border: 0;
  border-radius: 2px;
  width: 425px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
  opacity: 0.9;
}
#container #form #submitButton:hover {
  opacity: 1;
}
#container #form #submitButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#container #form #advanceButton {
  color: #ccc;
  cursor: pointer;
  text-decoration: underline;
}
#container #form #advanceButton:hover {
  color: #fff;
}
#container #form #advanceMenu {
  height: 0px;
}

/*RESPONSE SHIT*/
#container #response {
  width: 49%;
  display: inline-block;
  padding:150 0px;
  display:none;
  color: #f2f3f4;
}

#container #response #copyURLSection {
  height: 32px;
  width: 407;
  padding: 5px;
  position: relative;
  text-align: right;
}

#container #response #copyURLSection #responseURI{
  height: 32px;
  width: 355px;
  border: #ccc 1px solid;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  position: absolute;
  left: 0;
  text-align: left;
  padding: 10 10 0 10px;
  color: #000;
  background: #cecece;
}
#container #response #copyURLSection #copyButton{
  background: #57585a url("../images/copy.png") no-repeat right top;
  background-size:32px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 5 0px
}

#container #response #goBack {
letter-spacing: 10px;
  position: relative;
  padding: 20 0px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3ab54a;
  border: 0;
  border-radius: 2px;
  width: 425px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
  opacity: 0.9;
}
#container #response #goBack:hover {
  opacity: 1;
}
#container #response #goBack:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#getStarted {
  display: none;
  color:#7f8c8d;
}
#getStarted p {
  color: #283;
}
#getStarted #vid {
  margin: auto 0;
}
#getStarted .title {
  font-size: 18px;
  padding: 5px;
}
#getStarted li {
  display: block;
  padding: 5px;
  border: #ccc 1px solid;
  margin:5px;
    cursor: pointer;
}
#getStarted li:hover {
  background-color: #ecf0f1;
}
#getStarted li.faq div.question {
  color: #27ae60;
}

#getStarted li.faq div.answer {
  display: none;
  padding: 10px;
}