body {
  background-color: #57585a;
}

textarea {
  width: 400px;
  height:100px;
  margin: 15px 0;
}

.hidden {
  opacity: 0;
}

#container {
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}

/*LOGO SHIT*/

#container #logo {
  width: 100%;
  display: inline-block;
  font-size: 70px;
  margin: auto 0;
  text-align: center;
}

#container #logo .content {
  width: 300px;
}

#container #logo #leftLinks {
  font-size: 12px;
  margin: 60 20 40 20px;
  display: block;
}

.buttons {
  padding: 20 10px;
  background:  #3ab54a;
  cursor: pointer;
  border: green 1px solid;
  border-radius: 5px;
  margin: 15 70px;
  font-size: 20px;
  text-align: center;
  color: #eee;
  opacity: 0.9;
  font-family: 'Comfortaa', 'cursive';
  width: 400px;
  text-decoration:  none;
  display:  block;
}

.buttons:hover {
  opacity: 1;
}
#container #logo #leftLinks #getStartedButton a {
  color: #eee;
  text-decoration: none;
}
#container #logo #leftLinks li {
  display: inline;
  padding: 0 5px;
  border-left: #fff 1px solid;
}

#container #logo #leftLinks li.firstList {
  border-left:0;
  color: #ccc;
}

#container #logo #leftLinks li a {
    color: #ccc;
}
#container #logo #leftLinks li a:hover {
  color: #fff;
}

#container #logo .content .bold {
  font-weight: bold;
}

#container #logo .content .light {
  font-weight: lighter;
}

#container #logo .content .white {
  color:#f2f3f4;
}

#container #logo .content .green {
  color:#3ab54a;
}

#container #logo .content .dot {
  font-size: 150%;
  margin: -15px;
}

#container #logo #double {
  font-size: 70%;
  margin-left: 100px;
}

#container #logo #sha {
  text-align: right;
  margin-top: -20px;
  margin-left: 250px;
  font-family: 'Varela Round', 'sans-serif';
}

#container #logo .content .loose {
  letter-spacing: 10px;
}

/*FORM SHIT*/

#container #form {
  width: 400px;
  display: none;
  padding:20 0px;
  margin:auto;
}

#backHome {
  width: 40px;
  margin: 20px 10px -110px;
  display: none;
}

#container #form input{
  padding: 20 10px;
  width: 400px;
  margin: 15 0px;
  font-size: 20px;
}

#container #form #submitButton {
  margin:auto 0;
  width: 380px;
  margin-top:10px;
}
#container #form #advanceButton {
  color: #ccc;
  cursor: pointer;
  text-decoration: underline;
  width: 400px;
  margin:auto 0;
}
#container #form #advanceButton:hover {
  color: #fff;
}
#container #form #advanceMenu {
  /*height: 0px;*/
  display: none;
}

/*RESPONSE SHIT*/
#container #response {
  width: 400px;
  display: none;
  padding:20 0px;
  color: #f2f3f4;
  margin:auto;
}

#container #response #goBack {
  margin:auto 0;
  width: 380px;
  margin-top:10px;
}
#container #urlSection {
  position: relative;
}

#container #urlSection #responseURI {
  width: 345px;
  padding: 20 10px;
  font-size: 20px;
  background: #f2f3f4;
  color: #999;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
  white-space: nowrap;
}

#container #urlSection #copyButton {
  background: #57585a url("../images/copy.png") no-repeat center center;
  background-size:27px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  padding: 10px 0;
  position: absolute;
  top:0px;
  right:0px;
  border: 1px solid #CCC;
  border-radius: 0 5px 5px 0;
}

#getStarted {
  display: none;
  color:#7f8c8d;
}
#getStarted p {
  color: #111;
}
#getStarted #vid {
  margin: auto 0;
}
#getStarted .title {
  font-size: 18px;
  padding: 5px;
}
#getStarted li {
  display: block;
  padding: 5px;
  border: #ccc 1px solid;
  margin:5px;
    cursor: pointer;
}
#getStarted li:hover {
  background-color: #ecf0f1;
}
#getStarted li.faq div.question {
  color: #27ae60;
}

#getStarted li.faq div.answer {
  display: none;
  padding: 10px;
}