<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.4.2/base-min.css%26pure/0.4.2/forms-min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.default.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/tipsy/1.0/stylesheets/tipsy.css" />
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:300' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" media="all and (max-device-width:480px)" href="css/phone.css" />
  <!--<link rel="stylesheet" href="css/social.css">-->
</head>
<body>
  <div id="container">
    <div id="logo">
      <div class="content">
        <div id="double" class="light white loose">Double</div>
        <div id="sha" class="bold white loose">Sha</div>
      </div>
      <div id="leftLinks">
        <div id="getStartedButton" class="buttons fancyLinks" data-fancybox-type="inline" href="#getStarted">HOW IT WORKS</div>
        <div id="showForm" class="buttons">CREATE BITCOIN LINK</div>
        <li class="firstList">
          &copy;2014 DoubleSha
        </li>
        <li>
          <a class="fancyLinks" data-fancybox-type="iframe" href="about.html">About</a>
        </li>
        <li><a class="fancyLinks" data-fancybox-type="iframe" href="terms.html">Terms of Service</a></li>
      </div>
    </div>

    <!-- Form -->
    <div id="backHome" class="buttons">&lt;</div>
    <div id="form">
      <form class="pure-form pure-form-stacked">
        <fieldset>
          <input id="address" type="text" placeholder="Address" />
          <input id="amount" type="text" placeholder="Amount (mBTC)" />
          <div id="advanceButton">Customize it!</div>
          <div id="advanceMenu">
            <textarea id="memo" placeholder="Message (example: Click send to help support our cause)"></textarea>
            <textarea id="ackMemo" placeholder="Receipt Message (example: Thanks! Your payment was received and is being processed by the Bitcoin network.)"></textarea>
          </div>
        </fieldset>
      </form>
      <div id="submitButton" class="buttons">SUBMIT</div>
    </div>

    <!-- Response -->
    <div id="response">
      <div id="goBack" class="buttons">&lt;</div>
      <h1>Here's your Bitcoin link:</h1>
      <div id="urlSection">
        <div id="responseURI"></div>
        <div id="copyButton" data-clipboard-text="bitcoin:?r=http://dblsha.com/" title="Click to copy"></div>
      </div>
      <!-- <div id="social">
        <ul class="social-buttons cf">
          <li>
            <a href="http://twitter.com/share" class="socialite twitter-share" data-text="create Bitcoin link at: http://dblsha.com/" data-url="" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
          </li>
          <li>
            <a href="http://www.facebook.com/sharer.php?u=http://dblsha.com&t=DoubleSha" class="socialite facebook-like" data-href="http://dblsha.com" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
          </li>
          <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://dblsha.com&title=DoubleSha" class="socialite linkedin-share" data-url="http://dblsha.com" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn</span></a>
          </li>
        </ul>
      </div>-->
    </div> 
  </div>

  <div id="getStarted">
    <!-- <div id="vid">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bGj7TBD_Pfo" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <p>DoubleSha makes using Bitcoin on the internet easier with Bitcoin links, a new feature in the Bitcoin protocol. Instead of sharing a Bitcoin address directly in your forum signatures, social posts, etc. now you can share a Bitcoin link instead. When a someone clicks on your Bitcoin link, their wallet is opened automatically, and is filled in with a custom message from you, such as "Thanks for supporting Cancer Research" (or whatever it is you do).</p>

 <p>To create your own Bitcoin link, just input your Bitcoin address, how much you want each payment to be, and click Submit. That's it! Now you can share your Bitcoin link just like a regular hyperlink, and anybody can send you a payment with just one easy click.</p>

 <p>Give it a try! and let us know what you think.</p>
    <div class="title">FAQ</div>
    <li class="faq">
      <div class="question">Why is DoubleSha needed?</div>
      <div class="answer">
        <p>Sending a payment Bitcoin today is painful. The process of copying and pasting a long, inscrutable address into your wallet software and irreversibly sending money away is scary. Was it 0.002 BTC or 0.02 BTC? Did you remember to include miner fees? Are you sure that address you copied actually belongs to the person you think it does?</p>

        <p>Using Bitcoin links instead of directly copying and pasting Bitcoin addresses is more secure and much easier for everyone involved. We believe it is the future of Bitcoin.
        </p>
      </div>
    </li>
    <li class="faq">
      <div class="question">What is a bitcoin link?</div>
      <div class="answer">
        <p>A Bitcoin link is a special link that, when clicked, opens an external Bitcoin wallet application that is installed on the user's computer. Think of it like a shortened url for Bitcoin payments. No more dealing with Bitcoin addresses.</p>
        <p>When a user clicks on a bitcoin link, their wallet is opened, and the payment information you entered is displayed for the user to either accept or cancel. Once they accept, their wallet automatically creates a payment directly to you.</p>
      </div>
    </li>
    <li class="faq">
      <div class="question">What wallets are supported?</div>
      <div class="answer">
        <p>Today, you can use Bitcoin links with the latest version of Bitcoin-QT (Bitcoin Core) or on mobile with the Android Bitcoin Wallet.</p>
        <p>Support for Bitcoin links in more wallets is coming soon, including Multibit, Hive, and Mycelium.</p>
      </div>
    </li>
    <li class="faq">
      <div class="question">How do Bitcoin links work?</div>
      <div class="answer">
        <p>Bitcoin links are a part of the Payment Protocol, a new development by the Bitcoin open source developers. The Payment Protocol is an industry standard for Bitcoin wallets to communicate without the need to expose Bitcoin addresses directly to users. Similarly to how most users use the internet today without knowing what an IP address is, with the Payment Protocol, most users will be able to use Bitcoin without knowing what a Bitcoin address is.</p>

        <p>If you want the gory technical detail, <a href="https://www.youtube.com/watch?v=bGj7TBD_Pfo">this video</a> gives a great overview of the technical details of the Payment Protocol.</p>
      </div>
    </li>
    <li class="faq">
      <div class="question">How does DoubleSha protect my privacy?</div>
      <div class="answer">
        <p>DoubleSha is completely trustless, meaning we do not know your private keys or any information about you. Using DoubleSha is no less private than traditional Bitcoin payments, and it is not possible for us to lose any of your hard-earned Bitcoin if our servers are compromised.</p>
      </div>
    </li>
  </div>

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
  <script src="http://validatejs.org/validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js"></script>
  <!--<script src="js/socialite.min.js"></script>-->
  <script src="js/validate.js"></script>
  <!--<script src="js/slide.js"></script>-->
  <script src="js/control.js"></script>
</body>
